<p>
  <strong>QueueItem ID:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Job ID:</strong>
  <%= @item.Job.id %>
</p>

<p>
  <strong>File:</strong>
  <%= @item.Job.file %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.Job.status %>
</p>